@model IEnumerable<Trainings.Models.Response.TrainingModel>

<div class="text-center">
    <h1>Тренинги</h1>
</div>
<br/>
<div class="card-colomns" style="display: flex;
                                 justify-content: center;
                                 flex-wrap: wrap;">
    @foreach (var training in Model)
    {
        <div id="card" style="width:18rem; display:inline-block">
            <img id="card-img" src="@WebConstants.ImagePath@training.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    @training.Name
                </h5>
            </div>
        </div>
    }
</div>
