.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

#logreg-forms {
    width: 454px;
    margin: 10vh auto;
    background-color: ghostwhite;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid #C89ECF;
}

#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#logreg-forms .form-control:focus {
    z-index: 2;
}

#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
}

#logreg-forms .social-btn {
    font-weight: 100;
    color: white;
    width: 190px;
    font-size: 0.9rem;
}

#logreg-forms a {
    display: block;
    padding-top: 10px;
    color: lightseagreen;
}

#logreg-form .lines {
    width: 200px;
    border: 1px solid red;
}

#logreg-forms button[type="submit"] {
    margin-top: 10px;
}

#logreg-forms .facebook-btn {
    background-color: #3C589C;
}

#logreg-forms .google-btn {
    background-color: #DF4B3B;
}

#logreg-forms .form-reset, #logreg-forms .form-signup {
    display: none;
}

#logreg-forms .form-signup .social-btn {
    width: 210px;
}

#logreg-forms .form-signup input {
    margin-bottom: 2px;
}

.form-signup .social-login {
    width: 210px !important;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    border-bottom: 2px solid purple;
    background-color: #C89ECF;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.custom-button {
    display: inline-block;
    background-color: white;
    border: 1px solid #C89ECF;
    width: 120px;
    height: 30px;
    margin-top: 16px;
    text-decoration: none;
    color: #C89ECF;
    border-radius: 10px;
}

#cultureForm {
    padding: 110px 0;
}

.logo {
    font-size: 22px;
}

.header-nav a {
    text-transform: capitalize;
}

.header-nav {
    display: flex;
    font-size: 16px;
}

.header-nav a + a {
    margin-left: 10px;
}

.header-nav a:hover {
    color: lightgreen;
}

.language {
    display: flex;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.standart-section {
    padding: 110px 0;
}

#main {
    padding-top : 16px;
}

#card {
    width: 204px;
    display: inline-block;
    height: 287px;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: center;
    border: 1px solid #C89ECF;
}


#card-img {
    width: 154px;
    height: 115px;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
}

.card-columns .card-body {
    height: 100px;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 100px;
    width: 100px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

a.navbar-brand {
    white-space: normal;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}
